In [2]:
import tabula
import pdftotext

In [37]:
pdf_path = "../data/BalSheet.pdf"
pdf = tabula.read_pdf(pdf_path, stream=True)

'pages' argument isn't specified.Will extract only from page 1 by default.

In [38]:
pdf[0]

,Particulars,2015,2016 Particulars,Unnamed: 0,Unnamed: 1,2015.1,2016
0,To Opening Stock,105400.0,95830.00 By Sale,NaN,NaN,234294.0,274200.0
1,To Purchase,151007.0,168940.00 By Job Work Income,NaN,NaN,550000.0,636478.0
2,To Gross Profit,623717.0,759868.00 By Closing Stock,NaN,NaN,95830.0,113960.0
3,NaN,880124.0,1024638.00,NaN,Total Rs.,880124.0,1024638.0
4,To Accounting Charges,15000.0,20000.00 By Gross Profit B/D,NaN,NaN,623717.0,759868.0
5,To Business Promotion Exp.,7640.0,8610.00 By Discount,NaN,NaN,32905.0,45460.0
6,To Depreciation,8452.5,7277.78,NaN,NaN,NaN,NaN
7,To Electricity Exp.,23410.0,25630.00,NaN,NaN,NaN,NaN
8,To Freight,10350.0,16480.00,NaN,NaN,NaN,NaN
9,To Bonus,6340.0,8640.00,NaN,NaN,NaN,NaN
10,To Internet Fex Charges,6310.0,7660.00,NaN,NaN,NaN,NaN
11,To Misc. Exp,14470.0,23790.00,NaN,NaN,NaN,NaN
12,To Printing & Stationary,2670.0,3280.00,NaN,NaN,NaN,NaN
13,To Rent,104400.0,124500.00,NaN,NaN,NaN,NaN
14,To Repair & Maintenance Exp.,12988.0,24970.00,NaN,NaN,NaN,NaN
15,To Salary,404000.0,473888.00,NaN,NaN,NaN,NaN
16,To Staff welfare Exp.,17490.0,19340.00,NaN,NaN,NaN,NaN
17,To Short & Excess,62.0,52.22,NaN,NaN,NaN,NaN
18,To Telephone Exp,8680.0,10460.00,NaN,NaN,NaN,NaN
19,To Conveyance Exp.,10670.0,14280.00,NaN,NaN,NaN,NaN
20,To Net Profit for the Year,3689.5,16470.00,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Total Rs.,656622.0,805328.00,NaN,Total Rs.,656622.0,805328.0

In [40]:
# Load your PDF
with open("../data/BalSheet.pdf", "rb") as f:
    pdf = pdftotext.PDF(f)

# How many pages?
print(len(pdf))

# Read all the text into one string
print("\n\n".join(pdf))

1
                                           SEUNE COTTONLIFE PVT LTD
                                G-27,SOUTH CITY ARCADE, SOUTH CITY-1, GURGAON
                             Trading,Profit & Loss Account for the Year Ending 31.03.2015
Particulars                               2015            2016          Particulars                  2015      2016
To Opening Stock                           105400.00          95830.00 By Sale                       234294.00   274200.00
To Purchase                                151007.00         168940.00 By Job Work Income            550000.00   636478.00
To Gross Profit                            623717.00         759868.00 By Closing Stock               95830.00   113960.00
                                           880124.00        1024638.00                     Total Rs. 880124.00  1024638.00
To Accounting Charges                       15000.00          20000.00 By Gross Profit B/D           623717.00   759868.00
To Business Promotion Exp.                   7640.00            8610.00 By Discount                   32905.00    45460.00
To Depreciation                              8452.50            7277.78
To Electricity Exp.                         23410.00          25630.00
To Freight                                  10350.00          16480.00
To Bonus                                     6340.00            8640.00
To Internet Fex Charges                      6310.00            7660.00
To Misc. Exp                                14470.00          23790.00
To Printing & Stationary                     2670.00            3280.00
To Rent                                    104400.00         124500.00
To Repair & Maintenance Exp.                12988.00          24970.00
To Salary                                  404000.00         473888.00
To Staff welfare Exp.                       17490.00          19340.00
To Short & Excess                              62.00              52.22
To Telephone Exp                             8680.00          10460.00
To Conveyance Exp.                          10670.00          14280.00
To Net Profit for the Year                   3689.50          16470.00
                           Total Rs.       656622.00         805328.00                     Total Rs. 656622.00   805328.00

In [41]:
type(pdf)

pdftotext.PDF

In [42]:
pdf[0].split('\n')

['                                           SEUNE COTTONLIFE PVT LTD',
 '                                G-27,SOUTH CITY ARCADE, SOUTH CITY-1, GURGAON',
 '                             Trading,Profit & Loss Account for the Year Ending 31.03.2015',
 'Particulars                               2015            2016          Particulars                  2015      2016',
 'To Opening Stock                           105400.00          95830.00 By Sale                       234294.00   274200.00',
 'To Purchase                                151007.00         168940.00 By Job Work Income            550000.00   636478.00',
 'To Gross Profit                            623717.00         759868.00 By Closing Stock               95830.00   113960.00',
 '                                           880124.00        1024638.00                     Total Rs. 880124.00  1024638.00',
 'To Accounting Charges                       15000.00          20000.00 By Gross Profit B/D           623717.00   759868.00',
 'To Business Promotion Exp.                   7640.00            8610.00 By Discount                   32905.00    45460.00',
 'To Depreciation                              8452.50            7277.78',
 'To Electricity Exp.                         23410.00          25630.00',
 'To Freight                                  10350.00          16480.00',
 'To Bonus                                     6340.00            8640.00',
 'To Internet Fex Charges                      6310.00            7660.00',
 'To Misc. Exp                                14470.00          23790.00',
 'To Printing & Stationary                     2670.00            3280.00',
 'To Rent                                    104400.00         124500.00',
 'To Repair & Maintenance Exp.                12988.00          24970.00',
 'To Salary                                  404000.00         473888.00',
 'To Staff welfare Exp.                       17490.00          19340.00',
 'To Short & Excess                              62.00              52.22',
 'To Telephone Exp                             8680.00          10460.00',
 'To Conveyance Exp.                          10670.00          14280.00',
 'To Net Profit for the Year                   3689.50          16470.00',
 '                           Total Rs.       656622.00         805328.00                     Total Rs. 656622.00   805328.00',
 '']